/* This css file is responsible for the changelog page*/

/* styles.css */
.dropdown-content {
    transition: max-height 0.5s ease-out;
    max-height: 0;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.3s ease;
    text-align: left;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
  cursor: pointer;
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--link);
}

  /* Keyframes for animation */
  @keyframes enlarge {
    from {
      transform: scale(1); /* Initial size */
    }
    to {
      transform: scale(1.1); /* Enlarged size */
    }
  }
  
  