/* styles.css */
.dropdown-content {
    padding-left: 20px;
    transition: max-height 0.5s ease-out;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}
.date:hover {
    background-color: var(--link);
    color: var(--background);
    border: none;
    padding: 5px 10px;
    border-radius: 50px; /* This will make the button rounded */
    cursor: pointer;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
    transition: all 0.3s ease;
}

  /* Keyframes for animation */
  @keyframes enlarge {
    from {
      transform: scale(1); /* Initial size */
    }
    to {
      transform: scale(1.1); /* Enlarged size */
    }
  }
  
  