@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .body-content {
    opacity: 0;
  }
  
  .animate-on-load {
    animation: fade-in 3s ease-in-out forwards;
  }