@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* color palet: #EBE8DE , #B8B5AB, #87847B, #59574E, #2F2D25 - light -> dark */   
:root {
  --background: #EBE8DE;
  --main-text: #2F2D25;
  --darkgray: #111;
  --mediumgray: #87847B;
  --black: #B8B5AB;
  --link: #676779;
  --button: #87847B;
}


body {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 1.1em;
  max-width: 700px;
  padding: 2rem;
  margin: auto;
  background: var(--background);
  color: var(--main-text);
}

.dark-mode {
  --background: #272730;
  --main-text: #f8f8f2;
  --darkgray: #8193B6;
  --mediumgray: #8be9fd;
  --black: #bd93f9;
  --link: #ff79c6;
  --button: #F1FA8C;
}

.dark-mode body {
  background: var(--background);
  color: var(--main-text);
}


header {
  display: block;
  width: 100%;
  float: left;
}

h1 {
  font-size: 2.1em;
  line-height: 1.2em;
}

hr {
  border-top: 1px solid var(--black);
}

img {
  max-width: 100%;
  margin: 1rem 0;
  
}

a {
  color: var(--darkgray);
}

h1,
h2
 {
  color: var(--darkgray);
}

h2,
h3 {
  font-size: 1.4em;
  margin-top: 1.3em;
  margin-bottom: 0.2em;
}

h3 {
  font-size: 1.1em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.66em;
}

ul{
  text-align: justify;
}
.large {
  font-size: 1.4rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  ul {
    padding: 0;
    list-style-position: inside;
  }
}

footer {
  padding-top: 1em;
}

.no-indent ul {
  padding: 0;
  list-style-type: none;
}

.muted {
  color: var(--mediumgray);
  text-decoration: none;
}

.small {
  font-size: 0.8em;
}

.flex {
  display: 'flex';
}

.port-link {
  margin: 0 0.15em;
}
/*image collage css code*/
.thumbnail { 
  top:-50px; 
  left:-35px; 
  display:block; 
  z-index:999; 
  cursor: pointer; 
  -webkit-transition-property: all; 
  transition-property: all;
  -webkit-transition-duration: 0.3s; 
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease; 
  transition-timing-function: ease;
  } 
  
  /*change the number below to scale to the appropriate size*/ 
  .thumbnail:hover { 
  transform: scale(1.5); 
  
  }
  .inline-img {
    vertical-align: middle;
  }

  .image-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Adjust the gap as needed */
}

.image-collage img {
    width: 100%; /* Make sure images take the full width of their container */
    height: auto; /* Maintain aspect ratio */
}
/*END image collage css code*/

/*Dark mode button css code*/
#toggle {
  background-color: var(--button);
  color: var(--background);
  border: none;
  padding: 10px 20px;
  border-radius: 50px; /* This will make the button rounded */
  cursor: pointer;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 700;
  transition: all 0.3s ease;
}

#toggle:hover {
  background-color: var(--link);
  color: var(--background);
  transform: scale(1.05); /* This will create a zoom effect on hover */
}
/*END Dark mode button css code*/

/*Header css code to make button right align*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*END Header css code to make button right align*/

/* Custom scrollbar */
body::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--background); /* Set the background color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background: var(--black); /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Set the border radius of the scrollbar thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--link); /* Set the color of the scrollbar thumb on hover */
}
/*END Custom scrollbar*/

@media (max-width: 600px) {
  .inline-content {
    font-size: 0.8em; /* Adjust as needed */
  }
}