@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* color palet: #EBE8DE , #B8B5AB, #87847B, #59574E, #2F2D25 - light -> dark */   
:root {
  --background: #EBE8DE;
  --main-text: #2F2D25;
  --darkgray: #111;
  --mediumgray: #87847B;
  --black: #B8B5AB;
  --link: #676779;
  --button: #87847B;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 1.1em;
  max-width: 700px;
  padding: 2rem;
  margin: auto;
  background: var(--background);
  color: var(--main-text);
  background-size: cover;
}

.dark-mode {
  --background: #272730;
  --main-text: #f8f8f2;
  --darkgray: #8193B6;
  --mediumgray: #8be9fd;
  --black: #bd93f9;
  --link: #ff79c6;
  --button: #F1FA8C;
}

.dark-mode body {
  background-size: cover;
  background: var(--background);
  color: var(--main-text);
}

/*Code for the hover effect on the post links*/
.post-link {
  /* Define transition property for smooth animation */
  transition: all 0.3s ease;
  border: 1px solid var(--link); /* Add a thin border */
  border-radius: 15px; /* Add rounded corners */
  text-decoration: none; /* Remove underline */
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.post-link:hover {
  background-color: var(--link);
  color: var(--background);
  border-radius: 50px; 
  transition: all 0.3s ease;
}
/*END Code for the hover effect on the post links*/

.muted {
  color: var(--mediumgray);
  text-decoration: none;
}

.small {
  font-size: 0.8em;
  margin-top: 0px;
  margin-bottom: 0px;
}

header {
  display: block;
  width: 100%;
  float: left;
}

hr {
  border-top: 1px solid var(--black);
}

img {
  max-width: 100%;
  margin: 1rem 0;
  
}

a {
  color: var(--darkgray);
}

h1 {
  color: var(--main-text)
}

h1
 {
  font-size: 2.1em;
  line-height: 1.2em;
}

h2,
h3 {
  font-size: 1.4em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  
}

h3 {
  font-size: 1.1em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.66em;
}

ul{
  text-align: justify;
}

@media (max-width: 600px) {
  ul {
    padding: 0;
    list-style-position: inside;
  }
}

/* to make the class link underlink and have hover affect*/
.link {
  position: relative;
  text-decoration: none; /* Remove default underline */
}

.link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--link); /* Use the current text color */
  transition: width 0.3s;
}

.link:hover::after {
  width: 100%;
}
/*END to make the class link underlink and have hover affect*/

/*Header css code to make button right align*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*END Header css code to make button right align*/

/* Custom scrollbar */
body::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--background); /* Set the background color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background: var(--black); /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Set the border radius of the scrollbar thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--link); /* Set the color of the scrollbar thumb on hover */
}
/*END Custom scrollbar*/