.work-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 1.5em;
  }
  
  @media (max-width: 600px) {
    .work-info {
      font-size: 0.8em; /* Adjust as needed */
    }
  }

.work-title {
  display: flex;
  align-items: center;
}

.work-image {
  margin-right: 10px;
}